apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-l4-deployment
  labels:
    app: nginx
spec:
  # Define the desired number of NGINX pods
  replicas: 5
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        # Use the official NGINX image
        image: nginx:latest
        ports:
        - containerPort: 80
        - containerPort: 443
        # Simple health check to ensure the pod is ready to receive traffic
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 5
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 
